*{
    margin: 0 auto;
    font-size: 30px;
    text-align: center; 
}

.container{
    width:450px;
    display: flex;
    background-color:#e7dcc4;
    border-radius: 5%;
    border: 4px solid black;
}

.btn{
    text-align: center;
    /* border-radius: 0%; (We can use this to remove rounded corners of the buttons) */
}


#operators .btn{
    background-color: #eeeeee;
}

#operators .btn:hover{
    background-color: #000000;
    color: white;
}


#display{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 0.5em;
    border-color: white;
    text-align: end;    /*(impact only when input enabled)*/
}

#operators{
    width: 100%;
}

#operators .btn{
    border: 1px solid grey;
    width: 25%;
}

#num_equal{
   width:100%;
   margin-bottom: 0.5em;   
}

#numbers{
    width: 75%;
}

#numbers .btn{
    border-color: gray;
    background-color: #dbdbdb;
    color: black;
    width: 33.3%;  
}

#numbers .btn:hover{
    background-color: #f5a371;
    color: white;
}


#equal{
    display: flex;
    width: 25%;
}

#equal .btn{
    background-color: #f5a371;
    border-color: grey;
    color: white;
    width: 100%;
}

#equal .btn:hover{
    background-color:#d6824f;
        color: white;
}

#numbers #decimal:hover{
    background-color: #00adc4;
}
#numbers #clear:hover{
    background-color: #ab0000;
}