*{
    font-size: 30px;
    text-align: center;
}


.container{
    margin: 0 auto;
    width:450px;
    display: flex;
    border-radius: 5%;
    border: 0.1px solid #2125293d;
    padding: 0;
    overflow: hidden;
}

.btn{
    text-align: center;
    border-radius: 0%;
    border-color: #b4b6b9;
    outline: none;
}


#operators .btn{
    background-color: #eeeeee;
}

#operators .btn:active{
    background-color: #d6824f;
    color: white;
}


#display{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    padding: 2%;
    border: none;
    text-align: end;    /*(impact only when input enabled)*/
}


#operators{
    width: 100%;
}

#operators .btn{
    
    width: 25%;
}

#num_equal{ 
   width:100%;
}

#numbers{
    width: 75.4%;
}

#numbers .btn{
   
    background-color: #f5f5f5;
    color: black;
    width: 33.3%;  
}

#numbers .btn:active{
    background-color: #d2d5d9;
    color: white;
}


#equal{
    display: flex;
    width: 25%;
}

#equal .btn{
    background-image: linear-gradient(#fb9797d1, #c34d10f7);
    color: white;
    width: 100%;
}


#numbers #decimal:active{
    background-color: #6dc8d6;
}

#numbers #clear:active{
    background-color: #af4c4c;
}


.btn:active{
    box-shadow:inset 3px 4px 15px rgba(0,0,0,0.7);
}